__pycache__/

repoDB/dataset/x_train
repoDB/dataset/y_train

repoDB/lab_sm04/*.lab
repoDB/wav_sm04/*.wav
repoDB/obradjeno/*/*

repoDB/test_files/test_jedan_zapis/transkript.lab
repoDB/test_files/test_jedan_zapis/wav_file.txt